@import '~@/styles/variables';
@import '~@/styles/mixins';

.container {
  :global {
    label.bp4-label .bp4-input {
      display: flex;
    }
  }
}

.label {
  margin-bottom: 8px;
  color: #262626;
  font-size: 13px;
  line-height: 16px;
}

.inputContainer {
}

.errorContainer,
.subtextContainer {
  padding-top: 8px;
  font-size: 13px;
  line-height: 16px;
}

.errorWrapper {
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

.subtext {
  color: rgba(38, 38, 38, 0.7);
}
