@import '~normalize.css/normalize.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/popover2/lib/css/blueprint-popover2.css';
@import '~include-media/dist/_include-media.scss';

@import 'variables';
@import 'mixins';

html,
body,
#root {
  margin: 0;
  padding: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}
