@import '~@/styles/variables';
@import '~@/styles/mixins';

.headerWrapper {
  padding-top: $headerHeight;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: $headerHeight;
  display: flex;
  align-items: center;
}

.logoContainer {
  width: 250px;
  background: $dark-gray5;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-left: 10px solid $gold4;
  border-right: 1px solid $dark-gray1;
}

.main {
  background: $dark-gray5;
  height: 100%;
  padding: 0 11px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
}

.user {
}
