@import '~@/styles/variables';
@import '~@/styles/mixins';

.form{
  // max-width: 320px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  :global(.bp4-control) {
    margin-bottom: 0;
  }
}
