@import '~@/styles/variables';
@import '~@/styles/mixins';

.viewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  min-height: 50px;
  background-color: $light-gray1;
  border-bottom: 1px solid $gray3;
}

.title {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 8px;
  }

  h5 {
    padding: 0;
    margin-bottom: 0;
  }
}

.controls {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 8px;
  }

  :global {
    .bp4-navbar-divider {
      margin-left: 10px;
      margin-right: 2px;
    }
  }
}

.left,
.right {
  display: flex;
}

.left {
  color: $pt-text-color;
}

.closeContainer {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: -3px;
  margin-right: 7.5px;
  color: $gray1;
}
