@import '~@/styles/variables';
@import '~@/styles/mixins';

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 11px;
  height: 50px;
  background-color: $light-gray1;
  border-bottom: 1px solid $gray3;
}

.title {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 8px;
  }

  h4 {
    padding: 0;
    margin-bottom: 0;
  }
}

.controls {
  display: flex;

  & > * + * {
    margin-left: 8px;
  }
}
