@import '~@/styles/variables';
@import '~@/styles/mixins';

.main {
  box-shadow: 0 1px 0 0 $gray3;
}

.tableContainer {
  height: 100%;
  overflow: auto;
}

.table {
  width: 100%;
  background: $white;
  box-shadow: 0 1px 0 0 $gray3;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}
.table thead th {
  box-shadow: inset 1px 0 0 0 $gray5, 0 1px 0 0 $gray5 !important;
}

.loadingTdContent {
  text-align: center;
  opacity: 0.5;
}

.noItemsTdContent {
  text-align: center;
  opacity: 0.5;
}

tr.notInteractive {
  td {
    background: none !important;
  }
}
