TYPEORM_CONNECTION = postgres
TYPEORM_HOST = backend-db
TYPEORM_PORT = 5432
TYPEORM_USERNAME = pguser
TYPEORM_PASSWORD = pguser
TYPEORM_DATABASE = app-director
TYPEORM_SYNCHRONIZE = true
TYPEORM_MIGRATIONS_RUN = false
TYPEORM_ENTITIES = dist/modules/**/*.entity.js
TYPEORM_MIGRATIONS = dist/db/migrations/*.js
TYPEORM_MIGRATIONS_DIR = src/db/migrations
TYPEORM_LOGGING = false

JWT_ACCESS_TOKEN_SECRET=------------CHANGE_ME------------
JWT_ACCESS_TOKEN_EXPIRATION_TIME=600
JWT_REFRESH_TOKEN_SECRET=------------CHANGE_ME------------
JWT_REFRESH_TOKEN_EXPIRATION_TIME=604800
