@import '~@/styles/variables';
@import '~@/styles/mixins';

.layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-gray5;
}

.content {
  min-width: 320px;
  max-width: 100%;
}
